.App {
  border-collapse: collapse;
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
  max-width: 550px;
  flex-wrap: wrap;
}
.square {
  border-collapse: collapse;
  width: 50px;
  height: 50px;
  border: 1px solid white;
}
.board {
  border-collapse: collapse;
  border: 1px solid white;
}
input {
  background-color: transparent;
  font-size: 40px;
  color: white;
  border: 1px solid wheat;
}
button {
  background-color: transparent;
  cursor: pointer;
  font-size: 40px;
  color: white;
  border: 1px solid wheat;
  outline: none;
}
button:focus {
  background-color: transparent;
}
.ranking-list {
  position: absolute;
  left: 200px;
}
